@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* RESET */

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html,
body{
  width:100%;
  height:100%;
  scroll-behavior:smooth;
  overflow-x:hidden;
  background:#050816;
}

/* BODY */

body{

  color:white;

  font-family:'Inter', sans-serif;

  background-color:#050816;

  background-image:

    linear-gradient(
      rgba(212,175,55,0.10) 1px,
      transparent 1px
    ),

    linear-gradient(
      90deg,
      rgba(212,175,55,0.10) 1px,
      transparent 1px
    ),

    radial-gradient(
      circle at top left,
      rgba(212,175,55,0.12),
      transparent 25%
    ),

    radial-gradient(
      circle at top right,
      rgba(212,175,55,0.08),
      transparent 25%
    );

  background-size:
    60px 60px,
    60px 60px,
    auto,
    auto;

  background-attachment:fixed;

  background-position:center;
}

/* ROOT */

main{
  width:100%;
  min-height:100vh;
}

/* SERIF */

.serif{
  font-family:'Cormorant Garamond', serif;
}

/* HERO CARD */

.hero-card{

  position:relative;


  background:

    linear-gradient(
      rgba(212,175,55,0.02) 1px,
      transparent 1px
    ),

    linear-gradient(
      90deg,
      rgba(212,175,55,0.02) 1px,
      transparent 1px
    ),

    linear-gradient(
      180deg,
      rgba(8,14,30,0.60),
      rgba(5,8,22,0.70)
    );

  background-size:
    40px 40px,
    40px 40px,
    auto;

  border:
    1px solid rgba(212,175,55,0.10);

  border-radius:42px;

  backdrop-filter:blur(12px);

  -webkit-backdrop-filter:blur(12px);

  box-shadow:
    0 0 40px rgba(0,0,0,0.35),
    inset 0 0 20px rgba(255,255,255,0.02);
}

/* INNER GLOW */

.hero-card::before{

  content:"";

  position:absolute;

  inset:0;

  background:
    linear-gradient(
      120deg,
      transparent,
      rgba(255,255,255,0.02),
      transparent
    );

  pointer-events:none;
}

/* IMAGE FRAME */

.image-frame{

  border:
    1px solid rgba(212,175,55,0.10);

  border-radius:38px;

  overflow:hidden;

  background:
    rgba(255,255,255,0.02);
}

/* GOLD */

.gold-text{
  color:#d4af37;
}

/* BUTTONS */

.gold-btn{

  background:#d4af37;

  color:black;

  border-radius:999px;

  transition:0.3s ease;
}

.gold-btn:hover{

  transform:translateY(-3px);

  box-shadow:
    0 0 20px rgba(212,175,55,0.25);
}

.outline-btn{

  border:
    1px solid rgba(212,175,55,0.35);

  border-radius:999px;

  transition:0.3s ease;
}

.outline-btn:hover{

  background:
    rgba(212,175,55,0.08);

  transform:
    translateY(-3px);
}

/* SCROLLBAR */

::-webkit-scrollbar{
  width:8px;
}

::-webkit-scrollbar-track{
  background:#050816;
}

::-webkit-scrollbar-thumb{
  background:#d4af37;
  border-radius:20px;
}